{% extends "base.html" %}
{% block content %}
{% load static %}
<section class="create-reminder-section">
    <div class="container">
        <form method="POST" action="">
            {% csrf_token %}
            <div class="message-info">
              <label for="message"> message </label>
              <input type="text" name="message" />
  
            </div>
            <div class="time-date">
              <label for="scheduletime"> date </label>
              <input type="datetime-local" value="" name="scheduletime" />
              
            </div>
            {% if messages %}
            {% for message in messages %}
              <div class="{% if message.tags %}{{ message.tags }}{% endif %} message">
                <span>{{ message }}</span>
              </div>
            {% endfor %}
          {% endif %}
          
              <div class="button-info">
                <button class="submit-button" type="submit">set timer</button>

              </div>
      
          </form>
    </div>
</section>
<link rel="stylesheet" type="text/css" href="{% static 'css/create_reminder.css' %}">

{% endblock %}