
        <div class="header">
            <div class="header-container">
                <div class="company-name">Remider Me </div>

            <ul class="menu-list">
                {{user}}
            {% if  user.is_authenticated %}
            <li>
                <a href="/" alt="home">Home</a>
            </li>

            <li>

                <a href="/reminder-list" alt="Reminder">Reminder List</a>
            </li>

            <li>

                <a href="/send-email" alt="Reminder">send email</a>
            </li>
            <li>

                <a href="/logout" alt="Reminder">logout</a>
            </li>
                {% else %}
                <li>

                    <a href="/login" alt="Reminder">Login</a>
                </li>
                {% endif %}
            </ul>
            </div>
        </div>