 {% extends "base.html" %}   
 {% block content %}
    <section class="home-section"> 
      <div class="container">
         <h1>Welcome to Remind Me Later!</h1>
         <p>About Remind Me Later:</p>
         <p>Remind Me Later is your ultimate solution for staying organized and on top of your tasks. Whether it's remembering important appointments, deadlines, or simply jotting down your daily to-do list, our app has got you covered. With intuitive features and customizable options, managing your schedule has never been easier.</p>
         <h2>Developer:</h2>
         <p>Name: Aaman Sayyed</p>
         <ul class='social-media-link'>
            <li> <i class="fa-brands fa-linkedin"></i> <a href="https://www.linkedin.com/in/sayyed-aaman" target="_blank">Linkedin</a> </li>
            <li><i class="fa-brands fa-github"></i> <a href="https://github.com/sayyedaaman2" target="_blank">GitHub Profile</a></li>
         </ul>
     </div>   
   </section>

 {% endblock %}