<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/auth.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
  </head>
  <body>
    <section class="login-section">
      <div class="container">
        <div class="login-card">
          <div class="image-block">
            <img
              id="login-img"
              src="https://img.freepik.com/free-photo/computer-security-with-login-password-padlock_107791-16191.jpg?t=st=1710097651~exp=1710101251~hmac=0f5da45b95b1a3728a2ba2ca541cc0685bad1546362bc7f50b043698fee29a08&w=1060"
              alt="login-img"
            />
          </div>
          <form method="POST" action="">
            {% csrf_token %}
            <label for="email"> email </label>
            <input type="text" name="email" />

            <label for="password"> password </label>
            <input type="password" name="password" />
            <div id="show-password-btn" class="show-password-btn">
              <img
                id="show-password-icon"
                src="/static/image/hide.png"
                height="25"
                width="25"
              />
            </div>
            <button class="submit-button" type="submit">login</button>
            <div>{{error.message}}</div>
          </form>
        </div>
      </div>
    </section>

    <script src="/static/javascript/login.js" async defer></script>
  </body>
</html>
