{% extends "base.html" %}   

{% block content %}
{% load static %}
{% load tz %}
<section class="reminder-section">
    <div class="reminder-container">
        {% if  reminder_list %}
        {% for reminder_card in reminder_list %}
            <div key="{{ forloop.counter }}" class="reminder-card">
                <div class="reminder-message">
                    {{ reminder_card.message }}
                </div>
                <div class="reminder-time">
                    {{ reminder_card.schedule_time | timezone:"Asia/Kolkata" }}
                </div>
                <div class='reminder-info'>
                    <div class="reminder-thought">
                        <i class="fa-solid fa-envelope"></i>
                        email
                    </div>
                    <div class='reminder-status'>
                        {{reminder_card.status}}
                    </div>
                </div>
                
                <div class="reminder-edit">
                    <a href="/reminder/delete/{{ reminder_card.id }}" class="reminder-btn">
                        delete
                    </a>
                    {% comment %} <a href="/reminder/edit/{{ reminder_card.id }}" class="reminder-btn">
                        edit
                    </a> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    
    {% endif %}
    
        <div class="reminder-card">
           <div class="create-reminder-card">
               <a href="/create-reminder">
                <i class="fa-solid fa-notes-medical"></i>
               </a>
        </div>
            
        </div>
    </div>    
</section>
{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}"> {% endcomment %}
<link rel="stylesheet" type="text/css" href="{% static 'css/remider.css' %}">

{% endblock %}